<!DOCTYPE html>
<html lang="en">

<head>
 {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{% block title %}{% endblock %}</title>

  <!-- Bootstrap Core CSS -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/bootstrap.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/font-awesome/css/font-awesome.min.css') }}">

  <!-- Custom Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/animate.min.css') }}">

  <!-- Custom CSS -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/datetimepicker.css') }}">

  <!-- Custom stylesheet CSS -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/css/creative.css') }}">

  <!-- Favicon stuff -->

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="{{ url_for('static',filename='media/favicon/favicon-32x32.png') }}" sizes="32x32">
<link rel="icon" type="image/png" href="{{ url_for('static',filename='media/favicon/favicon-16x16.png') }}" sizes="16x16">
<link rel="manifest" href="{{ url_for('static',filename='media/favicon//manifest.json') }}">
<link rel="mask-icon" href="{{ url_for('static',filename='media/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
<meta name="theme-color" content="#ffffff">


  <!-- jQuery -->
  <script type=text/javascript src="{{
    url_for('static', filename='js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type=text/javascript src="{{
      url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <!-- Plugin JavaScript -->
      <script type=text/javascript src="{{
        url_for('static', filename='js/jquery.easing.min.js') }}"></script>
        <script type=text/javascript src="{{
          url_for('static', filename='js/jquery.fittext.js') }}"></script>
          <script type=text/javascript src="{{
            url_for('static', filename='js/wow.min.js') }}"></script>


            <!-- Custom Scripts -->
            <script type=text/javascript src="{{
              url_for('static', filename='js/plugins/bootstrap-spinner/bootstrap-spinner.min.js') }}"></script>
              <script type=text/javascript src="{{
                url_for('static', filename='js/plugins/moment-with-locales.js') }}"></script>
                <script type=text/javascript src="{{
                  url_for('static', filename='js/plugins/datetimepicker.js') }}"></script>
                  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
                  <!--[if lt IE 9]>
                  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
                  <![endif]-->
                  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
                  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                  <!--[if lt IE 9]>
                  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                  <![endif]-->
{% endblock %}
                </head>
                <body>
                  <!-- Navigation -->
                  <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
                      <div class="container">
                          <!-- Brand and toggle get grouped for better mobile display -->
                          <div class="navbar-header page-scroll">
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                  <span class="sr-only">Toggle navigation</span>
                                  Meny <i class="fa fa-bars"></i>
                              </button>
                              <a class="navbar-brand" href="/">Bordfinneren</a>
                          </div>

                          <!-- Collect the nav links, forms, and other content for toggling -->
                          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav navbar-right">
                                  <li>
                                      <a href="/">Hjem</a>
                                  </li>
                                  <li>
                                      <a href="/about">Info</a>
                                  </li>
                                  <li>
                                      <a href="/contact">Kontakt</a>
                                  </li>
                              </ul>
                          <!-- /.navbar-collapse -->
                        </div>
                      </div>
                      <!-- /.container -->
                  </nav>
                  <header>
                  <div id="content">{% block content %}{% endblock %}</div>
                </header>
                <div id="footer">{% block footer %}{% endblock %}</div>
                </div>
                  </body>
                </html>

  <script type="text/javascript">
  $(function () {
    $('#datetimepicker').datetimepicker({
      format: 'YYYY-MM-DD HH:mm',
      locale: 'nb',
      stepping: 15,
      inline: true,
      sideBySide: true,
    });
  });
  </script>

  <script type="text/javascript">
  $.fn.clicktoggle = function(a, b) {
      return this.each(function() {
          var clicked = false;
          $(this).click(function() {
              if (clicked) {
                  clicked = false;
                  return b.apply(this, arguments);
              }
              clicked = true;
              return a.apply(this, arguments);
          });
      });
  };

  $(".more").clicktoggle(function() {
    $(this).text("mindre..").siblings(".complete").show(400);
  }, function() {
    $(this).text("Om Restauranten").siblings(".complete").hide(400);
  });
  </script>

  <script type="text/javascript">
  $("#spinner").spinner({min: 2, max: 6});
  $("#spinner2").spinner({min: 1, max: 50});
  </script>


  <!-- Custom Theme JavaScript -->
  <script type=text/javascript src="{{
    url_for('static', filename='js/creative.js') }}"></script>
</html>

 <!-- Google Analytics -->
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69484434-2', 'auto');
  ga('send', 'pageview');

</script>
