{% extends "base.html" %}
{% block title %}Bordfinneren{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}

  <section id="kontakt">
      <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-xs-12 text-center contact-form">
              <h2>Kontaktskjema</h2>

              {% block form %}

                {% if success %}
                  <p>Takk for din melding. Vi vil ta kontakt om kort tid.</p>

                {% else %}

                  {% for message in form.name.errors %}
                    <div class="flash text-center">{{ message }}</div>
                  {% endfor %}

                  {% for message in form.email.errors %}
                    <div class="flash">{{ message }}</div>
                  {% endfor %}

                  {% for message in form.subject.errors %}
                    <div class="flash">{{ message }}</div>
                  {% endfor %}

                  {% for message in form.message.errors %}
                    <div class="flash">{{ message }}</div>
                  {% endfor %}

                  <form action="{{ url_for('contact') }}" method=post>
                    {{ form.hidden_tag() }}

                    {{ form.name.label }}
                    {{ form.name }}

                    {{ form.email.label }}
                    {{ form.email }}

                    {{ form.subject.label }}
                    {{ form.subject }}

                    {{ form.message.label }}
                    {{ form.message }}

                    <p class="text-center btn">{{ form.submit }}</p>
                  </form>

                {% endif %}
              {% endblock %}
          </div>
        </div>
          </section>
          <div class="clear"></div>
          </div>




            {% endblock %}
