{% extends "base.html" %}
{% block title %}Bordfinneren{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    <div class="container">
    <div class="row">
      <br><br><br><br><br>
{% with messages = get_flashed_messages() %}
  {% if messages %}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 flashes">
    {% for message in messages %}
      <h3 class="flash">{{ message }}</h3>
    {% endfor %}
  </div>
</div>
</div>
</div>
  {% endif %}
{% endwith %}
<section>
<div class="container">
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 well">
        <h2 class="well">Finn restauranter med ledig bord i Trondheim</h2>
      <div id="finnbord" class='col-lg-6 col-lg-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1'>
        <div class="row">
        <h3>Velg dato og tidspunkt</h3>
        <hr>
      </div>
        <form action="." method="POST">
          <div class='input-group date center-block' id='datetimepicker'>
            <input type='hidden' name="selected_dt" class="form-control text-center" placeholder="Velg dato og tidspunkt" required/>
          </div>
          <br>
        </div>
              <div class="row">
                <div class=" col-lg-4 col-lg-offset-1 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
                  <h3>Velg antall timer og gjester</h3>
                  <hr>
                  <h3 class="text-center"><span class="glyphicon glyphicon-time"></span> Timer</h3>
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button type="button" id="minusbutton" class="btn btn-default btn-xl" data-value="decrease" data-target="#spinner" data-toggle="spinner">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                      </button>
                    </span>
                    <input type="tel" name="sit_time" data-ride="spinner" id="spinner" class="form-control input-number text-center" value="2">
                    <span class="input-group-btn">
                      <button type="button" id="plusbutton" class="btn btn-default btn-xl" data-value="increase" data-target="#spinner" data-toggle="spinner">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                      </button>
                    </div>
                  <div>
                      <h3 class="text-center"><span class="glyphicon glyphicon-user"></span> Antall</h3>
                      <div class="input-group">
                        <span class="input-group-btn">
                          <button type="button" id="minusbutton" class="btn btn-default btn-xl" data-value="decrease" data-target="#spinner2" data-toggle="spinner">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                          </button>
                        </span>
                        <input type="tel" name="guests" data-ride="spinner" id="spinner2" class="form-control input-number text-center" value="4">
                        <span class="input-group-btn">
                          <button type="button" id="plusbutton" class="btn btn-default btn-xl" data-value="increase" data-target="#spinner2" data-toggle="spinner">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                          </button>
                          </div>
                        </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-10 col-md-offset-1">
                    <div class="col-lg-2 col-lg-offset-5 text-center">
                    <input type="submit" class="btn btn-primary btn-xl" value="Finn et bord">
                  </div>
                  </form>
                 </div>
               </div>
             </div>
           </div>
</section>

<section>
  <div class="container">
  <div class="well col-lg-10 col-lg-offset-1 col-xs-12">
      <div class="text-center">
        <br>
        <h2 class="section-heading">Litt informasjon om nettsiden</h2>
        <hr class="primary">
      </div>
      <div class="text-center">
      <div class="service-box">
        <i class="fa fa-4x fa-search wow bounceIn text-primary"></i>
        <h3>Velkommen til bordfinneren.no</h3>
        <p>Har du noensinne vært frustrert over å måtte ringe rundt til flere restauranter for å finne et ledig bord?
        Det har jeg. Derfor utviklet jeg denne tjenesten der du enkelt kan se en liste over alle restaurantene som har ledig kapasitet.
      Tjenesten er under utvikling og vil dermed ikke altid gi korrekt resultat. Flere restauranter og funksjoner vil bli lagt til etterhvert.</p>
      </div>
    </div>
    <div class="text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-magic wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Hvordan fungerer det?</h3>
          <p>Bordfinneren sjekker flere av byens populære restauranter og gir deg en liste over de som burde ha ledig plass.
          Når du trykker på "RESERVER BORD" knappen åpner vi et bestillingsvindu direkte til restauranten du har valgt slik at du kan reservere bord.</p>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
  </section>

{% endblock %}


{% block footer %}
<div class="container">
<div class="row text-center">
  <a href="http://okristian1.github.io/okristian1/"><p class="white-text">Utviklet av Ole Kristian Skramstad</p></a>
  </div>
</div>
<br>
{% endblock %}
