{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
    <div class="container text-center">
      <h1>Bordfinneren</h1>
      <p class="lead">Finn ut hvilke restauranter i Trondheim som har ledig bord</p>
          <hr class="long">
          <h3 style="color:black;">Velg dato og tidspunkt</h3>
          <hr>
    <br>
    <div class="row">
      <div id="finnbord" class='col-lg-6 col-lg-offset-3 col-xs-12'>
        <form action="." method="POST">
          <div class='input-group date center-block' id='datetimepicker'>
            <input type='hidden' name="selected_dt" class="form-control text-center" placeholder="Velg dato og tidspunkt" required/>
          </div>
          <br>
          <hr class="long">
              <div class="row">
                <h3 style="color:black;">Velg hvor lenge dere vil sitte og antall gjester</h3>
                <hr>

                <div class="col-xs-12 col-lg-6 text-center center-block">
                  <h3 class="text-center"><span class="glyphicon glyphicon-time"></span><br>Timer</h3>
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button type="button" id="minusbutton" class="btn btn-default btn-xl" data-value="decrease" data-target="#spinner" data-toggle="spinner">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                      </button>
                    </span>
                    <input type="tel" name="sit_time" data-ride="spinner" id="spinner" class="form-control input-number text-center" value="2">
                    <span class="input-group-btn">
                      <button type="button" id="plusbutton" class="btn btn-default btn-xl" data-value="increase" data-target="#spinner" data-toggle="spinner">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                      </button>
                    </div>
                    </div>
                    <div class="col-xs-12 col-lg-6 text-center center-block">
                      <h3 class="text-center"><span class="glyphicon glyphicon-user"></span><br>Antall</h3>
                      <div class="input-group">
                        <span class="input-group-btn">
                          <button type="button" id="minusbutton" class="btn btn-default btn-xl" data-value="decrease" data-target="#spinner2" data-toggle="spinner">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                          </button>
                        </span>
                        <input type="tel" name="guests" data-ride="spinner" id="spinner2" class="form-control input-number text-center" value="4">
                        <span class="input-group-btn">
                          <button type="button" id="plusbutton" class="btn btn-default btn-xl" data-value="increase" data-target="#spinner2" data-toggle="spinner">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                          </button>
                        </div>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="col-lg-12 text-center">
                    <input type="submit" class="btn btn-primary btn-xl" value="Søk">
                    <hr class="long">
                  </form>
                 </div>
    </div>
  </div>
</div>


{% endblock %}

{% block footer %}
<div class="container">
<div class="row text-center">
  <a class=" text-muted" href="http://okristian1.github.io/okristian1/">Utviklet av Ole Kristian Skramstad</a>
  </div>
</div>
{% endblock %}
