{% extends "base.html" %}
{% block title %}Bordfinneren{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
<section>
  <br><br><br><br>
    <div class="container">
    <div class="row well">
      <div id="finnbord" class='col-lg-6 col-lg-offset-0 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1'>
        <div class="row">
        <h3>Velg dato og tidspunkt</h3>
        <hr>
      </div>
        <form action="." method="POST">
          <div class='input-group date center-block' id='datetimepicker'>
            <input type='hidden' name="selected_dt" class="form-control text-center" placeholder="Velg dato og tidspunkt" required/>
          </div>
          <br>
        </div>
              <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-xs-12 col-lg-4 col-lg-offset-1 text-center">
                  <h3>Velg antall timer og gjester</h3>
                  <hr>
                  <h3 class="text-center"><span class="glyphicon glyphicon-time"></span> Timer</h3>
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button type="button" id="minusbutton" class="btn btn-default btn-xl" data-value="decrease" data-target="#spinner" data-toggle="spinner">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                      </button>
                    </span>
                    <input type="tel" name="sit_time" data-ride="spinner" id="spinner" class="form-control input-number text-center" value="2">
                    <span class="input-group-btn">
                      <button type="button" id="plusbutton" class="btn btn-default btn-xl" data-value="increase" data-target="#spinner" data-toggle="spinner">
                        <span class="glyphicon glyphicon-chevron-up"></span>
                      </button>
                    </div>
                  <div>
                      <h3 class="text-center"><span class="glyphicon glyphicon-user"></span> Antall</h3>
                      <div class="input-group">
                        <span class="input-group-btn">
                          <button type="button" id="minusbutton" class="btn btn-default btn-xl" data-value="decrease" data-target="#spinner2" data-toggle="spinner">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                          </button>
                        </span>
                        <input type="tel" name="guests" data-ride="spinner" id="spinner2" class="form-control input-number text-center" value="4">
                        <span class="input-group-btn">
                          <button type="button" id="plusbutton" class="btn btn-default btn-xl" data-value="increase" data-target="#spinner2" data-toggle="spinner">
                            <span class="glyphicon glyphicon-chevron-up"></span>
                          </button>
                          </div>
                        </div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-lg-2 col-lg-offset-5 text-center">
                    <input type="submit" class="btn btn-primary btn-xl" value="Finn et bord">
                  </div>
                  </form>
                 </div>
               </div>
             </div>

</section>
{% endblock %}
{% block footer %}
<div class="container">
<div class="row text-center">
  <a class="text-muted" href="http://okristian1.github.io/okristian1/">Utviklet av Ole Kristian Skramstad</a>
  </div>
</div>
<br>
{% endblock %}
