
<!DOCTYPE html>
<html><!-- InstanceBegin template="/Templates/home.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>Digital Portraiture</title>
<!-- InstanceEndEditable -->
<meta name="robots" content="follow">
<meta name="author" content="Jake Rogers">
<meta name="copyright" content="2015">
<meta name="description" content="Jake Rogers is a Freelance Designer, Front-end Develeloper and Artist with experience in all aspects of web development. Currently Freelancing">
<meta name="keywords" content="Creative Direction, Graphic Design, Front-End Development, Interactive Design, Digital Marketing, Digital Creative, Web Design, Web Development, WebGL, Canvas, WebGL/Canvas, Flash, After Effects, 3d, Website, User Experience, iPhone application design, London, Croydon, Surrey">
<meta property="og:title" content="Jake Rogers - Personal Portfolio"/>
<meta property="og:site_name" content="Jake Rogers - Personal Portfolio"/>
<meta property="og:description" content="Jake Rogers is a Freelance Designer, Front-end Develeloper and Artist with experience in all aspects of web development. Currently Freelancing"/>
<meta property="og:image" content="http://www.jakerogers.co.uk/img/share.jpg">
<meta itemprop="image" content="http://www.jakerogers.co.uk/img/share.jpg">

<link rel="stylesheet" type="text/css" href="css/normalize.min.css" media="screen">
<link rel="stylesheet" type="text/css" href="css/layout.css" media="screen">
<link rel="stylesheet" type="text/css" href="assets/elegant-icons/style.css" media="screen">
<link rel="stylesheet" type="text/css" href="assets/app-icons/style.css" media="screen">
<link rel="stylesheet" type="text/css" href="assets/fonts/font-glyphs.css" media="screen">
<link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">




<link rel="icon" href="/art/images/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/art/images/favicon.ico" type="image/x-icon">

<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="js/modernizr-2.8.2.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.8.14.custom.min.js"></script>
<script type="text/javascript" src="js/jquery.shuffleLetters.min.js"></script>
<script type="text/javascript" src="js/viewport.min.js"></script>

<script type="text/javascript" src="js/gsap/TweenMax.min.js"></script>
<script type="text/javascript" src="js/gsap/TimelineMax.min.js"></script>
<script type="text/javascript" src="js/gsap/plugins/CSSPlugin.min.js"></script>
<script type="text/javascript" src="js/gsap/easing/EasePack.min.js"></script>

<script type="text/javascript" src="js/test.js"></script>

<script type="text/javascript" src="http://use.typekit.com/dae8kvg.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>



<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body class="home">
    <div id="test">Digital Portraiture.</div>
    <div id="background"></div>
    <div id="wrapper">

                <div class="content">

                    <div class="project-grid">
                        <div class="project-thumb-xl flip-left">
                            <a href="#">
                                <ul>
                                    <li><img src="/art/thumbnails/scarlett-thumb.png" alt="Box 1"></li>
                                    <li class="side"><div class="back-title"><p><span>Scarlett Johansson</span></p></div></li>
                                </ul>
                            </a>
                        </div>
                        <div class="project-bucket">
                            <div class="project-thumb flip-up">
                                <a href="#">
                                    <ul>
                                        <li><img src="/art/thumbnails/rihanna1.png" alt="Box 2"></li>
                                        <li class="side"><div class="back-title"><p><span>Rihanna</span></p></div></li>
                                    </ul>
                                </a>
                            </div>
                            <div class="project-thumb flip-up">
                                <a href="#">
                                    <ul>
                                        <li><img src="/art/thumbnails/kanye1.png" alt="Box 3"></li>
                                        <li class="side"><div class="back-title"><p><span>Kanye West</span></p></div></li>
                                    </ul>
                                </a>
                            </div>
                        </div>
                        <div class="project-thumb-xl flip-right">

                            <a href="#">
                                <ul>
                                    <li><img src="/art/thumbnails/unfinished1.png" alt="Box 4"></li>
                                    <li class="side"><div class="back-title"><p><span>Unfinished</span></p></div></li>
                                </ul>
                            </a>

                        </div>
                        <div class="project-bucket">
                            <div class="project-thumb flip-up">
                                <a href="#">
                                    <ul>
                                        <li>
                                        	<img src="/art/thumbnails/eminem1.png" alt="Box 5">
                                        </li>
                                        <li class="side"><div class="back-title"><p><span>Eminem</span></p></div></li>
                                    </ul>
                                </a>
                            </div>
                            <div class="project-thumb-xl flip-left">
                            <a href="#">
                                <ul>
                                    <li><img src="/art/thumbnails/fibi1.png" alt="Box 1"></li>
                                    <li class="side"><div class="back-title"><p><span>Fibi</span></p></div></li>
                                </ul>
                            </a>
                        </div>
                            </div>
                        </div>
                        <div class="project-thumb flip-up">
                            <a href="#">
                                <ul>
                                    <li><img src="http://placehold.it/230x130" alt="Box 7"></li>
                                    <li class="side"><div class="back-title"><p><span>Box 7</span></p></div></li>
                                </ul>
                            </a>
                        </div>
                        <div class="project-thumb flip-up">
                            <a href="#">
                                <ul>
                                    <li>
                                    	<img src="http://placehold.it/230x130" alt="Box 8">
                                    </li>
                                    <li class="side"><div class="back-title"><p><span>Box 8</span></p></div></li>
                                </ul>
                            </a>
                        </div>
                        <div class="project-thumb flip-up">
                            <a href="#">
                                <ul>
                                    <li>
                                        <img src="http://placehold.it/230x130" alt="Box 9">
                                    </li>
                                    <li class="side"><div class="back-title"><p><span>Box 9</span></p></div></li>
                                </ul>
                            </a>
                        </div>

                    </div>
                	<div class="clear"></div>
                </div>



                    </div>
                	<div class="clear"></div>

            <!-- InstanceEndEditable -->

        <div class="coverup"></div>

    <div id="door-wrapper">
    	<div id="door-cover"></div>
    	<div id="door-left"></div>
    	<div id="door-right"></div>
        <div id="preloader2"></div>
    </div>
	<!--<script type="text/javascript" src="../js/jquery.parallax.min.js"></script>-->
	<script type="text/javascript" src="js/core.min.js"></script>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try{
        var pageTracker = _gat._getTracker("changeme");
        pageTracker._trackPageview();
        } catch(err) {}
    </script>
</body>
<!-- InstanceEnd --></html>
